@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;1,100&family=Righteous&family=Roboto:ital,wght@1,100&family=Varela+Round&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
header{
    width: 100%;
    height: 100vh;
    background-image:url(/images/bg4.webp) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: center;
    align-items: center;
   height:7%;
   width: 90%;
   /* backdrop-filter: blur(150px); */
   backdrop-filter: blur(10px);
   background-color: rgba(255, 255, 255, 0.5);  


}
nav i{
    width:150px;
    color:#f44336;
    
}
.nav-links{
flex: 1;
text-align:center;
}
.nav-links ul li{
    list-style-type:none;
    padding: 8px 12px;
    position: relative;
    display: inline-block;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li a::after{
content: '';
width: 0;
height:2.5px;
background:#f44336;
display: block;
margin: auto;
transition: 0.3s;
}
.nav-links ul li:hover a::after{
    width: 100%;
}
/* End style for Nav */

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    font-size:18px;
    color: #fff;
    margin: 10px 0 40px;
}
.hero-btn{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
}
.hero-btn:hover{
    border:1px solid #f44336;
    background:#f44336;
    transition: 1s;
}
/* mediaquery for header */
@media(max-width:700px){
    .text-box h1{
        font-size:20px;
    }
    .nav-links ul li{
        display: block;
       
    }
    .nav-links{
        position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0;
    z-index: 2;
    text-align: left;
    }

}